/* .App {
  font-family: sans-serif;
  text-align: center;
} */

/*START OF CSS FOR HOME PAGE */
:root {
  /* --bg-color: #FFD600; */
  --bg-color: rgb(255, 214, 2);
  --dk-maroon: rgb(151, 0, 50);
  --lt-maroon: rgb(200, 94, 129);
}
/* 
body {
  margin: 0;
  padding: 0;
  height: 100vh;
} */

/* .background {
  color: rgb(255, 214, 2);
} */
.Welcome {
  font-size: 45px;
  align-self: start;
}
.dblogo {
  height: 250px;
  width: 250px;
  align-self: start;
}
/* .dblogo,
.Welcome {
  padding-left: 50px;
} */

/* --------------------------- */
/* .game-middle {
  margin: -75px;
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(236, 164, 0, 1) 0%,
    rgba(218, 44, 56, 1) 100%
  );
  border: 1px solid #000000;
} */

.game-card {
  /* width: 30%; */
  /* margin-top: -10vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh; */
  /* position: relative; */
  /* background-color: #ffffff;
    border-radius: 0 10px 10px 10px;
    border: black 1px solid; */
  /* position: absolute;
  right: 0; */
  display: flex;
  flex-direction: column;
}

/* .newgame-tab {
  width: 30%;
  height: 50px;
  border: #000000 1px solid;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  background-color: gray;
  position: absolute;
  top: -50px;
  left: -5px;
  display: block;
  padding: 0px 1px;
}

.newgame-button {
  width: 100%;
  padding: 0;
  background-color: gray;
  border: none;
  color: black;
  text-align: center;
  display: block;
  font-size: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin: 5px auto;
  border-bottom: none;
}

.joingame-tab {
  width: 30%;
  height: 50px;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  border: #000000 1px solid;
  background-color: crimson;
  position: absolute;
  top: -50px;
  margin-left: 29%;
  display: block;
  padding: 0px 10px;
}
.joingame-tab-highlight {
  width: 30%;
  height: 50px;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  border: #000000 1px solid;
  background-color: crimson;
  position: absolute;
  top: -50px;
  margin-left: 29%;
  display: block;
  padding: 0px 10px;
}
.join-button {
  width: 100%;
  padding: 0;
  background-color: crimson;
  border: none;
  color: black;
  text-align: center;
  display: block;
  font-size: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin: 5px auto;
  border-bottom: none;
}
.submit-button {
  background-color: #3399cc;
  border: none;
  color: white;
  padding: 5px 150px;
  text-align: center;
  display: block;
  font-size: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
  margin: 25px auto;
}

.submit-button:hover {
  background-color: #8abdd6;
  color: #000000;
} */

.footer {
  height: 84px;
}

.table {
  display: table; /* Allow the centering to work */
  margin: 0 auto;
}

/* .horizontal-list {
  min-width: 696px;
  list-style: none;
  padding-top: 20px;
}
.horizontal-list {
  display: inline;
} */


.pageContainer {
  display: flex;
  width: 100%;
  height: 100%;
}

.left-col {
  flex: 0 0 35%;
  flex-direction: column;
}

.right-col {
  flex: 0 0 65%;
  flex-direction: column;
}

.gameTabs {
  flex-direction: column;
  width: 60%;
  margin-bottom: -50px;
  position: relative;
  z-index: 2;
}


.tabOpen {
  float: right;
  background: var(--dk-maroon);
  color: white;
  height: 40px;
  padding: 5px;
  /* margin-right: 10px; */
  border-radius: 10px;
}

.tabClosed {
  float: right;
  color: black;
  height: 40px;
  background: #000000;
  background: 0%;
  border-radius: 10px;
  border-top: solid 1px;
  border-right: solid 1px;
  border-left: solid 1px;
  border-top-color: var(--dk-maroon);
  border-right-color: var(--dk-maroon);
  border-left-color: var(--dk-maroon);
  border-bottom: 0cm;
  cursor: pointer;
  margin-top: 20px;
}

.gameCode {
  resize: none;
  align-items: center;
}

.gameCode::-webkit-input-placeholder {
  font-size: 20px;
  line-height: 3;
}

.gameCodeGiven{
  font-size: 60px;
}

.literalCard {
  width: 100%;
  height: 400px;
  margin: 100px;
  background-color: var(--dk-maroon);
  border-radius: 16px;
  padding: 10px;
  align-items: center;
  text-align: center;
}

.enterGame {
  text-align: center; 
  color: white;
  font-family: raleway;
  margin-top: 30px;
}

.enterUsername {
  text-align: center; 
  color: white;
  font-family: raleway;
}

.usernameBox {
  resize: none;
  align-items: center;
}

.continueToPlay {
  flex-direction: column;
  width: 200px;
  height: 50px;
  background-color: darkgray;
  color: white;
  border-radius: 10px;
  margin: 30px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 21px;
}

.continueToPlay:hover {
  background-color: white;
  color: darkgrey;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.horizontal-list{
  list-style:none;
  float:left;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: left;
  padding: 30px;
}
/*END OF CSS FOR THE HOMEPAGE */
