/* .continueToPlay {
  width: 200px;
  height: 50px;
  background-color: darkgray;
  color: white;
  border-radius: 10px;
  margin: 30px;
  font-size: 20px;
  cursor: pointer;
}


.continueToPlay:hover {
  background-color: white;
  color: darkgrey;
}


.tabOpen {
  float: right;
  background: white;
  height: 40px;
  padding: 5px;
  /* margin-right: 10px; */
  /* border-radius: 10px;
}

.tabClosed {
  float: right;
  background: #63b3df;
  color: white;
  height: 40px;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}
 */ 
